.cards-holder {
    display: flex;
    justify-content: center;
}    
.card {
    
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;

}
.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    
}
.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 26px;
    font-family: 'Tinos', serif;
}
.card-title span {
    color: #BC9060;
    margin-left: 5px;
}

.card-desk {
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    font-family: 'Tinos', serif;
    color: #656363;
}