.dishes-title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    text-align: center;
    margin-top: 132px;
    line-height: 62px;
   
}
.dishes-title span {
    color: #D67E34;
}
.burgers {
    display: flex;
    justify-content: center;
    margin-top: 139px;
    
}
.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.pizza {
    margin-right: 20px;
}
.burger-text {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    margin-left: 30px;
}